:host-context(.dark-theme) {
    --text-color: #e0e0e0;
}  

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px; // Move the line to the left
    width: 2px;
    background: #6a11cb;
  }
  
  .timeline-item {
    position: relative;
    width: 100%;
    padding-left: 60px; // Align content to the right of the line
    margin-bottom: 40px;

    &::after {
      content: '';
      position: absolute;
      top: 20px;
      left: 10px; // Move the circle to the left
      width: 20px;
      height: 20px;
      background: #6a11cb;
      border-radius: 50%;
      z-index: 1;
    }
  }
  
  .timeline-content {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        h3 {
            color: #6a11cb;
            margin: 0;  // Remove default margin
        }

        .date {
            color: #777;
            font-size: 0.9rem;
        }
    }

    h4 {
        color: #333;
    }

    p {
        color: #555;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    }
  }  
}