<section class="contact-section">
  <h1>Contact</h1>
  <div class="contact-grid">
    @for (contact of contactInfo; track contact.type) {
      <a class="contact-card primary-card" [attr.href]="contact.link || null" [attr.target]="contact.type !== 'email' ? '_blank' : null">
        <i [class]="contact.icon"></i>
        <h2>{{contact.label}}</h2>
        <span>{{contact.value}}</span>
      </a>
    }
  </div>
  <!-- <div class="contact-section">
    <h1>Social Media</h1>
    <div class="contact-grid">
        @for (social of socialMedia; track social.type) {
            <a class="contact-card" [href]="social.link" [attr.target]="social.type !== 'email' ? '_blank' : null">
              <i [class]="social.icon"></i>
              <h2>{{social.label}}</h2>
              {{social.value}}
            </a>
        }
    </div>
  </div> -->
</section>
