.skills-grid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;

  &:has(> :nth-last-child(n+10)) {
    // If there are 6 or more items, limit to 5 columns
    grid-template-columns: repeat(9, 1fr);
  }

  .skill-item {
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    i {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  
    span {
      font-size: 0.9rem;
      font-weight: 500;
    }
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
