<section class="page-section" id="certificates">
    <h2 class="section-title d-flex display-4 fw-bold">
        Certificates
    </h2>
    <div class="certificates-grid">
        @for (certificate of certificates; track certificate.title) {
            <div class="card certificate-card">
                <a [href]="certificate.certificateLink" target="_blank">
                    <img class="card-img-top certificate-img" [src]="certificate.certificateImg" [alt]="certificate.title">
                </a>
                <div class="card-body">
                  <p class="card-text">{{certificate.title}}
                    <a [href]="certificate.certificateLink" target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                  </p>
                </div>
              </div>
        }
    </div>
</section>