.skills-grid {
  margin: 0 auto;

  // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  // &:has(> :nth-last-child(n+6)) {
  //   // If there are 6 or more items, limit to 5 columns
  //   grid-template-columns: repeat(5, 1fr);
  // }

  .skill-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    i {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  
    span {
      font-size: 0.9rem;
      font-weight: 500;
    }
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
